@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

:root {
    font-family: "DotGothic16", sans-serif;
    background-color: #0a0a0a;
    color: antiquewhite;
    --grad: linear-gradient(currentColor 0 0);
    --thik: 1px;
    --size: 10px;
}

body {
    cursor: default;
}
* {
    cursor: default;
}
a, button, .projects, .cornerEffect {
    cursor: pointer;
}
  .cornerEffect { 
    display: grid;
    place-items: center;
    font-size: 20px;
    width: 160px;
    background: none;
    border: none;
    position: relative;
    color: antiquewhite;
    font-family: "DotGothic16", sans-serif;
    &::after {
      content: "";
      background: var(--grad) top left / var(--thik) var(--size),
        var(--grad) top left / var(--size) var(--thik),
        var(--grad) top right / var(--size) var(--thik),
        var(--grad) top right / var(--thik) var(--size),
        var(--grad) bottom left / var(--thik) var(--size),
        var(--grad) bottom left / var(--size) var(--thik),
        var(--grad) bottom right / var(--size) var(--thik),
        var(--grad) bottom right / var(--thik) var(--size);
      background-repeat: no-repeat;
      inset: 0;
      position: absolute;
    }
  }

.cornerEffect:hover {
    background-color:  antiquewhite;
    color: #0a0a0a;
}
.cornerEffect:hover::after {
    background: none;
  }


.activity {
    width: 20px;
    text-align: center;
}
.spinning {
    animation: spinning steps(8, end) 2s infinite;
}
/* Standard keyframes definition */
@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Vendor-prefixed keyframes for WebKit browsers */
@-webkit-keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Vendor-prefixed keyframes for Mozilla browsers */
@-moz-keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* You can also include other vendor prefixes as needed */
::selection {
    background-color: #fa4c14;
    color: #0a0a0a;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0a0a0a;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.headerPreMax {
    padding-top: 50px;
    text-align: center;
    letter-spacing: 1px;
    height: 10em;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
html {
    overflow-y: scroll;
    scrollbar-width: none;
}
body {
    -ms-overflow-style: none;
}

.my-p:hover {
    background-color: #fa4c14;
    color: #0a0a0a;
}
.my-p::selection {
    background-color: #0a0a0a;
    color: #fa4c14;
}

.text-link {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: antiquewhite;
    border: 1px solid antiquewhite;
}
.text-link:hover {
    background-color: #fa4c14;
    color: #0a0a0a;
}

.projects{
    cursor: default;
    font-family: "DotGothic16", sans-serif;
    font-size: 18px;
}

.projects a{
    color: antiquewhite;
    text-decoration: none;
}


.projects:hover {
    background-color: #fa4c14;
    color: #0a0a0a;
}

.projects::selection {
    background-color: #0a0a0a;
    color: #fa4c14;
}

.projectsClear::selection {
    background-color: #0a0a0a;
    color: #fa4c14;
}

.projectsClear{
    color: #696969;
}

.container {
    display: flex;
    width: 100%;
    height: auto; /* Неограниченная высота */
}
.left, .right {
    flex: 1; /* Одинаковая ширина */
    padding: 10px; /* Отступы внутри блока */
    box-sizing: border-box; /* Учитывать отступы в ширине */
}

.cornerEffectWork { 
    display: grid;
    place-items: center;
    font-size: 16px;
    width: 46px;
    background: none;
    border: none;
    position: relative;
    color: #696969;
    font-family: "DotGothic16", sans-serif;
    margin-bottom: 4px;
    &::after {
      content: "";
      background: var(--grad) top left / var(--thik) var(--size),
        var(--grad) top left / var(--size) var(--thik),
        var(--grad) top right / var(--size) var(--thik),
        var(--grad) top right / var(--thik) var(--size),
        var(--grad) bottom left / var(--thik) var(--size),
        var(--grad) bottom left / var(--size) var(--thik),
        var(--grad) bottom right / var(--size) var(--thik),
        var(--grad) bottom right / var(--thik) var(--size);
      background-repeat: no-repeat;
      inset: 0;
      position: absolute;
    }
  }

.container1 {
    width: 95%; /* Контейнер занимает 90% ширины экрана */
    margin: 10px auto; /* Центрируем контейнер и добавляем отступы сверху и снизу */
    display: flex;
    flex-wrap: wrap; /* Позволяет блокам переноситься на новую строку */
    gap: 10px; /* Отступ между блоками */
}

.text-block {
    flex: 1 1 calc(50% - 10px); /* Блоки занимают 50% ширины с учетом отступов */
    box-sizing: border-box; /* Учитываем отступы в ширине блока */
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #696969; /* Рамка блока */
    border-radius: 2px;
    font-size: 18px;
}

.text-block1 {
    width: 508px;
    box-sizing: border-box; /* Учитываем отступы в ширине блока */
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #696969; /* Рамка блока */
    border-radius: 2px;
    font-size: 18px;
}